*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif ;
    font-size: border- box ;

}

.header{
    background-color: #000000;
    padding: 40px;
    align-items: center;
    display: flex;
    justify-content: center;

}

.header img{
    width: 200px;
    height: 200px;
    margin-left: 5px;
}

.centered-div{
    color: #ffffff;
}

.centered-div h1{
    font-size: clamp(5px, 8vw, 100px);
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Bebas Neue', sans-serif;
}

/*------------------------------ Welcome Section ----------------------------------*/
.background{
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100%;
    height: 50vh;
    background-image: url("Content/images/webpage.png");
    background-size: cover;
    background-position: center;


    /* Additional styling properties for the section */
  }

.welcome-text h2 {
    color: #f4e8e8;
    font-size: clamp(5px, 8vw, 70px);
    margin-top: 5%;
    margin-left: 200px;
    text-align: left;
    font-family: 'Belanosima', sans-serif;
    font-family: 'Hanken Grotesk', sans-serif;

}

.welcome-text h3 {
    color: #f4e8e8;
    font-size: clamp(50px, 8vw, 100px);
    
    margin-left: 200px;
    text-align: left;
 
    font-family: 'Hanken Grotesk', sans-serif;

}

.welcome-text p {
    color: #ffffff;
    font-size: clamp(5px, 8vw, 30px);
    margin-left: 200px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;

}




/*------------------------------ who we are Section ----------------------------------*/

.white-section {
    background-color: rgb(255, 255, 255);
    padding: 50px;
    margin: 0;
  }
  
  .black-box {
    background-color: black;
    color: white;
    padding: 20px;
    margin: auto;
    width: auto;
    
  }
  
  .black-box h4 {
    margin: 0;
    font-size: 24px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
  }
  
  /*------------------------------ Our Video Section ----------------------------------*/
  .video-container {
    display: flex;
    padding: 200px;
    justify-content: center;
    align-items: center;
    height: 400px; /* Adjust the height as needed */
    margin-bottom: 100px;
  }
  
  video {
    max-width: 100%;
    max-height: 100%;
  }
  
  /*------------------------------ How we do it Section ----------------------------------*/

.third-section{
    background-image: url("Content/images/Black Background.webp");
    
    height: 1800px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(255, 255, 255);
    color: white;
    padding-top: 10px;
    display: box;
    flex-wrap: wrap;
    flex: 1 1 100%;
    
    text-align: center;
    align-items: baseline;


    
}

/*------------------------------ White bar ----------------------------------*/
.white-bar {
    background-color: rgb(255, 255, 255);
    color: white;
    padding-top: 30px;
    padding-bottom: 10px;
    margin-top: 50px;
    width: auto;
    height: 100px;
    
  }

  .white-bar h6 {
    margin: 0;
    color: black;
    margin: auto;
    font-size: 50px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
  }

  /*------------------------- process ----------------------------------------*/

  .white-bar-2 {
    background-color: rgb(255, 255, 255);
    color: white;
    background-image: url("Content/images/analysis.png");
    background-repeat: no-repeat;
    background-position: 20px 23px;
    padding: 20px;
    margin-top: 100px;
    margin-right: 3%;
    margin-left: 10%;
    margin-bottom: 100px;
    width: 800px;
    height: 140px;
    justify-content: space-around;

  }  

  .white-bar-2 h7 {
    margin-top: 40px;
    margin-bottom: 40px;
    color: black;
    padding: 0;
    font-size: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Montserrat', sans-serif;
  }

  /*-------------------------> notes & scripting -------------------------*/

  .white-bar-3 {
    background-color: rgb(255, 255, 255);
    color: white;
    background-image: url("Content/images/script_5068533.png");
    background-repeat: no-repeat;
    background-position: 20px 23px;
    padding: 20px;
    margin-top: 100px;
    margin-right: 3%;
    margin-left: 23%;
    margin-bottom: 100px;
    width: 800px;
    height: 140px;
    justify-content: space-around;


  }  

  .white-bar-3 h8 {
    margin-top: 40px;
    margin-bottom: 40px;
    color: black;
    padding: 0;
    font-size: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Montserrat', sans-serif;
  }

  /*----------------- > Film & Edit ------------*/


  .white-bar-4 {
    background-color: rgb(255, 255, 255);
    color: white;
    background-image: url("Content/images/man_9962045.png");
    background-repeat: no-repeat;
    background-position: 20px 23px;
    padding: 20px;
    margin-top: 100px;
    margin-right: 3%;
    margin-left: 40%;
    margin-bottom: 100px;
    width: 800px;
    height: 140px;
    justify-content: space-around;


  }  

  .white-bar-4 h9 {
    margin-top: 40px;
    margin-bottom: 40px;
    color: black;
    padding: 0;
    font-size: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Montserrat', sans-serif;
  }
 
  /*----------------- > Publish ------------*/

  .white-bar-5 {
    background-color: rgb(255, 255, 255);
    color: white;
    background-image: url(Content/images/publish.png);
    background-repeat: no-repeat;
    background-position: 20px 23px;
    padding: 20px;
    margin-top: 100px;
    margin-right: 3%;
    margin-left: 50%;
    margin-bottom: 100px;
    width: 800px;
    height: 140px;
    justify-content: space-around;


  }  

  .white-bar-5 h10 {
    margin-top: 40px;
    margin-bottom: 40px;
    color: black;
    padding: 0;
    font-size: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Montserrat', sans-serif;
  }

  /* --------------->poat analysis ---------------*/

  .white-bar-6 {
    background-color: rgb(255, 255, 255);
    color: white;
    background-image: url(Content/images/post-analysis.png);
    background-repeat: no-repeat;
    background-position: 20px 23px;
    padding: 20px;
    margin-top: 100px;
    margin-right: 3%;
    margin-left: 65%;
    margin-bottom: 100px;
    width: 800px;
    height: 140px;
    justify-content: space-around;


  }  

  .white-bar-6 h11 {
    margin-top: 40px;
    margin-bottom: 40px;
    color: black;
    padding: 0;
    font-size: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Montserrat', sans-serif;
  }



  

  /*------------------------- Contact ----------------------------------------*/

  :root{
    --primary : #ff0185;
    --secondary : #091126;
}

*{
    margin: 0;
    padding: 0;


}

.body-2{
  height: 55vh;

  justify-content: center;
  align-items: center;
  background-color: #000000;
}
.contact {
    height: auto;
    width: auto;
    margin-left: 6vh;
 
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    padding: 6rem;
    border-radius: 1rem;
    box-shadow: 0 .2rem ,5rem #0006;
}

.form {
    width: 30%;
    height: 30%;
    background-color: #000000;
    padding-left: 32;
    padding-right: 45;
    padding-bottom: 20;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 1rem;
}

.form h12 {
    color: #fff;
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 30px;

}

.form form{
    padding: 0 2rem;
}

.form input, form textarea{
    margin: auto;
    width: 100%;
    padding: 2rem;
    border: .08rem solid var(--primary);
    border-radius: 2rem;
    background-color: unset;
    color: #fff;
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
}

.form input, form textarea, .form button{
    margin: 0.8rem;
}


.form textarea{
    height: 6rem;
    resize: none;
}


.form button{
    background-color: var(--primary);
    padding: 1rem 2rem;
    color: #fff;
    border-radius: 2rem;
    border: none;
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
}

.form button:hover{
    cursor: pointer;
    background-color: #ffffff;
    color: black;
}













  /*------------------------------------------------------- media  -----------------------------------------------------------*/

  @media screen and (max-width:1200px){

      /*------------------- head line ----------------------------- */

      .header{
        background-color: #000000;
        padding: 3px;
        align-items: center;
        display: flex;
        justify-content: center;
    
      }
      
      .header img{
          width: 130px;
          height: 130px;
          margin-left: 3px;
      }
      
      .centered-div{
          color: #ffffff;
      }
      
      .centered-div h1{
          font-size: clamp(5px, 5vw, 100px);
          margin-top: 5px;
          margin-bottom: 5px;
          font-family: 'Bebas Neue', sans-serif;
      }
  
    /*------------------------------ Welcome Section ----------------------------------*/
    .background{
  
  
      height: auto;
      /* Additional styling properties for the section */
    }
  
    .welcome-text h2 {
  
      font-size: clamp(5px, 8vw, 40px);
      margin-left: 30px;
  
    }
  
    .welcome-text h3 {
  
      font-size: clamp(5px, 8vw, 60px);
      margin-left: 30px;
  
    }
  
    .welcome-text p {
      font-size: clamp(5px, 8vw, 30px);
      margin-left: 30px;
  
    }
  
    /*------------------------------ who we are Section ----------------------------------*/
  
    .white-section {
      padding: 20px;
  
    }
  
    .black-box {
      padding-top: 5px;
      padding-bottom: 5px;
      margin-left: 100px;
      margin-right: 100px;
      
    }
  
    .black-box h4 {
      font-size: 30px;
    }
  
    /*------------------------------ Our Video Section ----------------------------------*/
    .video-container {
      display: flex;
  
      width: auto;
      padding: 0px;
      margin-bottom: 25px;
      height: auto;
    }
    .video-container iframe {
  
      margin: 0px;
      width: 1000px;
      height: 500px;
    }
    video {
      padding: 0px;
    }
  
  
    .white-bar {
      background-color: rgb(255, 255, 255);
      color: white;
      padding-top: 10px;
      padding-bottom: 13px;
      margin-top: 10px;
      width: auto;
      height: 35px;
      
    }
  
    .white-bar h6 {
      margin: 0;
      color: black;
      margin-bottom: 100px;
      font-size: 30px;
      text-align: center;
      font-family: 'Montserrat', sans-serif;
    }
  
    /*------------------------- process ----------------------------------------*/
  
    .third-section{
  
      height: auto;
      padding-bottom: 10px;
      padding-top: 10px;
  
    }
  
  
    .white-bar-2{
      width: auto;
      height: auto;
      background-size: 100px;
      margin-right: 10%;
      margin-left: 10%;
      margin-top: 40px;
      margin-bottom: 40px;
    }
  
    .white-bar-2 h7{
      font-size: 35px;
      margin-top: 30px;
      margin-left: 25px;
      margin-bottom: 20px;
    }
  
    .white-bar-3{
      width: auto;
      height: auto;
      background-size: 100px;
      margin-right: 10%;
      margin-left: 10%;
      margin-top: 40px;
      margin-bottom: 40px;
    }
  
    .white-bar-3 h8 {
      font-size: 35px;
      margin-top: 30px;
      margin-left: 25px;
      margin-bottom: 20px;
    }
  
    .white-bar-4{
      width: auto;
      height: auto;
      background-size: 100px;
      margin-right: 10%;
      margin-left: 10%;
      margin-top: 40px;  
      margin-bottom: 40px;
    }
    
  
    .white-bar-4 h9 {
      font-size: 35px;
      margin-top: 30px;
      margin-left: 25px;
      margin-bottom: 20px;
    }
  
    .white-bar-5{
      width: auto;
      height: auto;
      background-size: 100px;
      margin-right: 10%;
      margin-left: 10%;
      margin-top: 40px;
      margin-bottom: 40px;
    }
  
    .white-bar-5 h10{
      font-size: 35px;
      margin-top: 30px;
      margin-left: 25px;
      margin-bottom: 20px;
    }
  
    .white-bar-6{
      width: auto;
      height: auto;
      background-size: 100px;
      margin-right: 10%;
      margin-left: 10%;
      margin-top: 40px;
      margin-bottom: 40px;
    }
  
    .white-bar-6 h11 {
      font-size: 35px;
      margin-top: 30px;
      margin-left: 25px;
      margin-bottom: 20px;
    }



    .body-2{
      height: 35vh;
    }

    .contact {
      padding: 3rem;
    }

    .form h12 {
      font-size: 2rem;
    }
    .form {
      width: 50%;
      height: 40%;

    }


    .form input, form textarea{
      margin: 15px;
      padding: 1rem;
      font-size: 2rem;
    }

    .form button{
      font-size: 1.5rem;
    }





  }

@media screen and (max-width:500px){

      /*------------------- head line ----------------------------- */

    .header{
      background-color: #000000;
      padding: 3px;
      align-items: center;
      display: flex;
      justify-content: center;
  
    }
    
    .header img{
        width: 50px;
        height: 50px;
        margin-left: 3px;
    }
    
    .centered-div{
        color: #ffffff;
    }
    
    .centered-div h1{
        font-size: clamp(5px, 5vw, 100px);
        margin-top: 5px;
        margin-bottom: 5px;
        font-family: 'Bebas Neue', sans-serif;
    }

  /*------------------------------ Welcome Section ----------------------------------*/
  .background{


    height: auto;
    /* Additional styling properties for the section */
  }

  .welcome-text h2 {

    font-size: clamp(5px, 8vw, 20px);
    margin-left: 18px;

  }

  .welcome-text h3 {

    font-size: clamp(5px, 8vw, 25px);
    margin-left: 18px;

  }

  .welcome-text p {
    font-size: clamp(5px, 8vw, 15px);
    margin-left: 18px;

  }

  /*------------------------------ who we are Section ----------------------------------*/

  .white-section {
    padding: 20px;

  }

  .black-box {
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0px;
    
  }

  .black-box h4 {
    font-size: 15px;
  }

  /*------------------------------ Our Video Section ----------------------------------*/
  .video-container {
    display: flex;

    width: auto;
    padding: 0px;
    margin-bottom: 25px;
    height: auto;
  }
  .video-container iframe {

    margin: 0px;
    width: auto;
    height: 200px;
  }
  video {
    padding: 0px;
  }


  .white-bar {
    background-color: rgb(255, 255, 255);
    color: white;
    padding-top: 10px;
    padding-bottom: 13px;
    margin-top: 10px;
    width: auto;
    height: 10px;
    
  }

  .white-bar h6 {
    margin: 0;
    color: black;

    margin-bottom: 100px;
    font-size: 15px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
  }

  /*------------------------- process ----------------------------------------*/

  .third-section{

    height: auto;
    padding-bottom: 10px;
    padding-top: 10px;

  }


  .white-bar-2{
    width: auto;
    height: auto;
    background-size: 70px;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .white-bar-2 h7{
    font-size: 15px;
    margin-top: 30px;
    margin-left: 25px;
    margin-bottom: 20px;
  }

  .white-bar-3{
    width: auto;
    height: auto;
    background-size: 70px;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .white-bar-3 h8 {
    font-size: 15px;
    margin-top: 30px;
    margin-left: 25px;
    margin-bottom: 20px;
  }

  .white-bar-4{
    width: auto;
    height: auto;
    background-size: 70px;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 40px;  
    margin-bottom: 40px;
  }
  

  .white-bar-4 h9 {
    font-size: 15px;
    margin-top: 30px;
    margin-left: 25px;
    margin-bottom: 20px;
  }

  .white-bar-5{
    width: auto;
    height: auto;
    background-size: 70px;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .white-bar-5 h10{
    font-size: 15px;
    margin-top: 30px;
    margin-left: 25px;
    margin-bottom: 20px;
  }

  .white-bar-6{
    width: auto;
    height: auto;
    background-size: 70px;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .white-bar-6 h11 {
    font-size: 15px;
    margin-top: 30px;
    margin-left: 25px;
    margin-bottom: 20px;
  }


  .body-2{
    height: 55vh;

  }

  .contact {
    padding: 3rem;
    margin-left: 0px;
  }

  .form h12 {
    font-size: 1rem;
  }
  .form {
    width: 100%;
    height: 90%;

  }


  .form input, form textarea{
    margin: 5px;
    padding: 0.5rem;
    font-size: 0.8rem;
  }

  .form button{
    font-size: 1rem;
  }


}


